*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

/********** Header *********/

.header {
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/images/background-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/******** Nav bar ********/

nav {
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    letter-spacing: 1px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/*********** Logo **********/

nav img {
    width: 70px;
    border-radius: 45%;
}

/*********** hover on menu ***********/

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a:hover {
    transition: 0.5s;
    color: red;
}

